<!doctype html>
<html ng-app="application">
  <head>
    <title>Uploader</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/index.css">       
    <script src="/static/js/jquery-3.2.1.min.js"></script>   
    <script src="static/js/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <link rel="stylesheet" href="/static/css/jquery.fileupload.css">
    <link rel="stylesheet" href="/static/css/jquery.fileupload-ui.css">
    <!--Wistia Video Player API-->
    <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>

    <script src="/static/js/uploader.js"></script>      
    <script src="/static/js/jquery.ui.widget.js"></script>    
    <script src="/static/js/jquery.iframe-transport.js"></script>
    <script src="/static/js/jquery.fileupload.js"></script>
    <script src="/static/js/jquery.fileupload-process.js"></script>
    <script src="/static/js/jquery.fileupload-image.js"></script>
    <script src="/static/js/jquery.fileupload-angular.js"></script>
  </head>
  <body>    
    <div class="container">       
      <uploader></uploader>      
    </div>        
  </body>
</html>
